<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body bgcolor="#f8f8ff">
<p align="center">
    <font size="5" color="#2C2E2E" face="segoe print">
        Выберите проблему, с которой вы столкнулись:
    </font>
    <br>
    <br>
</p>
{{#problems}}
    <div style="text-align: center">
        <form action="question" method="get">
            <button name=id value={{firstQuestion.id}}>
                <font size="4" color="#2C2E2E" face="segoe print">
                    {{description}}
                </font>
            </button>
            <br>
            <br>
        </form>
    </div>
{{/problems}}
</body>
</html>