<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Диалог</title>
</head>
<body bgcolor="#f8f8ff">
{{#question}}
    <p align="center">
        <font size="5" color="#2C2E2E" face="segoe print">
            {{description}}
        </font>
        <br>
        <br>
    </p>
    <form action="question" method="get">
        <button style="position: relative; left: 32%;" name=id value={{nextPositiveQuestion.id}}>
            <font size="4" color="#2C2E2E" face="segoe print">
                Да
            </font>
        </button>
        <button style="position: relative; display: inline-block; left: 64%" name=id value={{nextNegativeQuestion.id}}>
            <font size="4" color="#2C2E2E" face="segoe print">
                Нет
            </font>
        </button>
    </form>
{{/question}}
<br>
<br>
<br>
<button style="position: relative; left: 48%; text-align: center" onclick="history.back();">
    <font size="4" color="#2C2E2E" face="segoe print">
        Назад
    </font>
</button>
</body>
</html>