<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Решение</title>
</head>
<body bgcolor="#f8f8ff">
{{#solution}}
    <p align="center">
        <font size="5" color="#2C2E2E" face="segoe print">
            {{description}}
        </font>
        <br>
        <br>
    </p>
{{/solution}}
<br>
<br>
<button style="position: relative; left: 48%; text-align: center" onclick="history.back();">
    <font size="4" color="#2C2E2E" face="segoe print">
        Назад
    </font>
</button>
</body>
</html>